<div class="container">
    <ejs-calendar [value]="dateValue" [min]="minDate" [max]="maxDate" [isMultiSelection]="true"></ejs-calendar>
    <!--Add start="Decade" depth="Year" in above code to restrict drill up and drill down action-->
</div>

<div class="shade">
    <ejs-schedule height="540" width="1200"> </ejs-schedule>
</div>

<style>
    .shade {
        margin-top: -31.8%;
        margin-left: -1%;
    }
</style>

<style>
    .container {
        margin-left: -40%;
        margin-top: 5%;
    }
</style>