mat-card {
    border: none;
    background-color: #74ebd5;
    background-image: linear-gradient(90deg, #74ebd5 -10%, #9caaeb 100%);
    color: #fff;
}

centerio {
    color: aliceblue;
}

.yes {
    color: #fff;
    margin-right: 10%;
    margin-left: 20%;
}

body {
    background-color: #74ebd5;
    background-image: linear-gradient(90deg, #74ebd5 0%, #9caaeb 100%);
    padding: 100px;
    padding-right: 14%;
    padding-left: 4%;
}
